@model IEnumerable<ContactManagerProject.Models.Country>

<style>
    .insertimg {
        display: none;
    }
</style>

@{
    ViewData["Title"] = "Index";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<h1 class="header"><i><u>Country Details</u></i></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id='CountryTable'>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCodeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCodeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>

                @*<label for="Edit">Edit</label>

                    <label for="Details">Details</label>

                    <label for="Delete">Delete</label>*@

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCodeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCodeEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PkcountryId"><button><i class='fas fa-user-edit'></i></button></a> |
                    <a asp-action="Details" asp-route-id="@item.PkcountryId"><button><i class='fas fa-info-circle'></i></button></a> |
                    <a asp-action="Delete" asp-route-id="@item.PkcountryId"><button><i class="material-icons" style="font-size:18px">delete</i></button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
