@model IEnumerable<ContactManagerProject.Models.AddressBook>

<style>
    .insertimg {
        display: none;
    }
</style>

@{
    ViewData["Title"] = "Index";
}

<h1 class="header"><i><u>AddressBook</u></i></h1>

@if (User.Identity.IsAuthenticated)
{
    @if (User.Identity.Name != "Anusha")
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }

}

@using (Html.BeginForm("Index", "AddressBooks", FormMethod.Post, new { id = "demoForm", name = "demoForm" }))
{
    @Html.DropDownList("a",(IEnumerable<SelectListItem>)ViewBag.FkcountryId ,"select country" ,
                  new { Class = "ddlStyle", onchange = "SelectedIndexChanged()" } )
    @Html.DropDownList("b",(IEnumerable<SelectListItem>)ViewBag.FkstateId,"select state")

    @Html.DropDownList("c",new List<SelectListItem>(){

new SelectListItem(){Text = "Active",Value="True"},
new SelectListItem(){Text = "InActive",Value="False"},
new SelectListItem(){Text = "All",Value="All"}
})
    <input type="submit" value="submit" class="btn btn-success" />
    <input type="submit" name="reset" value="reset" class="btn btn-success" />
    // <input type ="checkbox" value ="submit">
}


<script type="text/javascript">
    function SelectedIndexChanged() {
    //Form post
    document.demoForm.submit();
    }
</script>


<partial name="_AddressBook"></partial>
@*<table class="table" id='myTable'>
    <thead>
        <tr>
            <th> FirstName </th>
            <th> LastName </th>
            <th> Email </th>
            <th> PhoneNo </th>
            <th> Address </th>
            <th> StateName </th>
            <th>CountryName</th>
            <th> Edit </th>
            <th> Details </th>
            <th> Delete </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.EmailId </td>
                <td>@item.PhoneNo</td>
                <td>@item.Address1</td>
                <td>@item.Fkstate.StateName</td>
                <td>@item.Fkstate.Fkcountry.CountryName</td>
                <td><a asp-action="Edit" asp-route-id="@item.PkaddressId"><button><i class='fas fa-user-edit'></i></button></a> </td>
                <td><a asp-action="Details" asp-route-id="@item.PkaddressId"><button><i class='fas fa-info-circle'></i></button></a> </td>
                <td><a asp-action="Delete" asp-route-id="@item.PkaddressId"><button><i class="material-icons" style="font-size:18px">delete</i></button></a> </td>
            </tr>

        }

    </tbody>
</table>*@